
/* Sticky footer styles
-------------------------------------------------- */
html {
  counter-reset: list;
}

ol {
  list-style: none;
  padding: 0;
}

ol>li:before {
  position: absolute;
  left: 0;
}

ol>li.sov {
  font-weight: bold;
}

ol>li:not(.sov) {
  font-weight: normal;
}

ol>li.enable:before {
  counter-increment: list;
  content: counter(list) ". ";
}

ol>li.disable:before {
  content: "X. ";
}

ol>li {
  position: relative;
  padding-left: 25px;
}

ol>li.disable {
  opacity: .5;
}

ol>li:mot(.disable) {
  opacity: 1;
}

ol>li.enable {
  opacity: 1 !important;
}
