<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="See the Line of Succession to the British Throne on any day in the last 100 years.">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">

    <title>Line of Succession<% IF app.date != app.today %> on <% app.date.strftime('%d %B %Y'); END %></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56332-63"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-56332-63');
    </script>
  </head>
  <body>
<! -- <% app %>
      <% app.date %>
      <% app.today %>
      <% app.model %> -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Line of Succession</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Today<span class="sr-only">(current)</span></a>
          </li>
          <!--li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Interesting Dates</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/1910-05-06">6 May 1910<br><span class="born">Start of George V's reign</span></a>
              <a class="dropdown-item" href="/1936-01-20">20 January 1936<br><span class="born">Start of Edwaard VIII's reign</span></a>
              <a class="dropdown-item" href="/1936-12-11">11 December 1936<br><span class="born">Start of George VI's reign></span></a>
              <a class="dropdown-item" href="/1952-02-06">6 February 1952<br><span class="born">Start of Elizabeth II's reign</span></a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" action="/">
          <input class="form-control mr-sm-2" type="date" name="date" id="date"
            min="<% app.earliest.strftime('%Y-%m-%d') %>"
            max="<% app.today.strftime('%Y-%m-%d') %>" aria-label="Date">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Change Date</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
<% content %>
      <!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_native_toolbox"></div>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Made by <a href="https://twitter.com/davorg">@davorg</a> / Code <a href="https://github.com/davorg/succession/">on Github</a></span>
      </div>
    </footer>

    <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56165a02d0fe210e"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>
</html>
