<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- succession -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3663319204757145"
     data-ad-slot="2256677924"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
