<% USE Dumper -%>
    <h1>Line of Succession: <% date.strftime('%d %B %Y') %></h1>

    <p>Sovereign: <% sovereign.person.name %></p>
    <ol>
<% FOR person IN succession %>
      <li><% person.name %>
        <br><span class="born">b. <% person.born.strftime('%d %b %Y') %>,
        Aged <% person.age_on_date(date) %></span></li>
<%   LAST IF loop.count == 20 -%>
<% END -%>
    </ol>
