<iframe src="https://ads.davecross.co.uk/client/alisow" style="width: 90%; aspect-ratio: 16 / 7"></iframe>
<br>
<iframe src="https://ads.davecross.co.uk/client/willsow" style="width: 90%; aspect-ratio: 16 / 7"></iframe>
