<h3 class="sidebar-heading h6 text-center mb-2">Adverts</h3>
<iframe src="https://ads.davecross.co.uk/client/alisow" style="width: 90%; aspect-ratio: 16 / 7"></iframe>
<br>
<iframe src="https://ads.davecross.co.uk/client/willsow" style="width: 90%; aspect-ratio: 16 / 7"></iframe>
