<h1><span class="text-danger">Coming soon:</span> Shop</h1>

<p>We will soon have various pieces of merchandise on sale from this page.</p>
<p>Currently, our plans include:</p>
<ul>
  <li>A book about the line of succession</li>
  <li>Posters of the line of succession</li>
  <li>Mugs with (some of) the line of succession on them</li>
</ul>

<p>Sign up to our newsletter to know when these items are available.</p>
